# Compiled class files
*.class

# JAR, WAR, and other package files
*.jar
*.war

# Logs
*.log

# Maven output directory
/target/

# IDE-specific files
.idea/
*.iml
.vscode/

# IntelliJ IDEA directories
/out/
bin/


